body {
	font-family:sans-serif;
}
h1 {
	background-image:url(../img/icon32.png);
	background-repeat:no-repeat;
	text-indent:34px;
	line-height:32px;
	height:32px;
	color:#444;
	font-size:24px;
}
span.voice_actor {
	font-size:80%;
}
/* Configuration */
#audio_list {
	padding:0px;
	margin:0px;
}
#audio_list li {
	list-style-type:none;
	margin:0px;
	padding:0px;
	position:relative;
	border-top:1px solid #f8f8f8;
	background-color:#f0f0f0;
	border-bottom:1px solid #d8d8d8;
}
#audio_list li: hover {
	background-color:#ffd;
}